<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <configurationStrings>
        <add name="123" connectionString="asdfadsfdasfsafsad" providerName="abc123" />
        <add name="456" connectionString="asdfadsfdasfsafsad" providerName="abc456" />
    </configurationStrings>
    <appSettings>
        <add key="name" value="yhchen" />
    </appSettings>
</configuration>